.btn {
    box-shadow: none !important;
    transition: background-color 0.3s ease, border-color 0.3s ease;

    * {
        text-decoration: none !important;
    }
}

.btn-group-vertical button {
    border-radius: calc(var(--system-border-base) - 4px) !important;
}

.btn-group-horizontal {
    display: flex;

    > button {
        flex-grow: 1;
    }
}

.btn-default {
    color: #6A6A6A;
    text-transform: uppercase;
}

.btn-logout {
    flex-grow: 0 !important;
    width: fit-content;
    border: 2px solid var(--system-colors-black-quaternary);
    background-color: var(--system-colors-black-quaternary);

    span {
        width: fit-content;
        font-size: 1.2rem;
        color: var(--system-colors-white-primary);
    }
}

.btn-logout:hover {
    border: 2px solid var(--system-colors-purple-tetiary) !important;

    span {
        color: var(--system-colors-purple-tetiary);
    }
}

.btn-primary {
    padding: 8px 12px !important;
    font-weight: 700 !important;
    text-transform: uppercase;
    background-color: var(--system-colors-purple-tetiary) !important;
    border: 1.5px solid var(--system-colors-purple-secondary) !important;
}

.btn-primary:hover {
    background-color: var(--system-colors-purple-secondary) !important;
}

.btn-secondary {
    padding: 8px 12px !important;
    font-weight: 700 !important;
    text-transform: uppercase;
    background-color: var(--system-colors-teal-primary) !important;
    border: 1.5px solid var(--system-colors-teal-primary) !important;
}

.btn-secondary:hover {
    background-color: var(--system-colors-teal-primary) !important;
}

.btn-tetiary {
    padding: 8px 12px !important;
    font-weight: 700 !important;
    text-transform: uppercase;
    background-color: var(--system-colors-black-quaternary) !important;
    border: 1.5px solid var(--system-colors-black-secondary) !important;
}

.btn-tetiary:hover {
    background-color: var(--system-colors-blue-primary) !important;
    border: 1.5px solid var(--system-colors-blue-primary) !important;
}

.btn-status {
    display: flex;
    align-items: center;
    width: fit-content !important;
    border: 2px solid var(--system-colors-purple-primary) !important;
    background-color: var(--system-colors-purple-tetiary) !important;

    i.ti {
        font-size: 1.5rem;
    }
}

.btn-status.normal {
    display: flex;
    align-items: center;
    width: fit-content !important;
    background-color: #252525 !important;
    border: 2px solid #2D2D2D !important;
    border-radius: 24px !important;
    pointer-events: none;

    i.ti {
        color: #696969;
        font-size: 1.5rem;
    }
}

.btn-status.warning {
    display: flex;
    align-items: center;
    width: fit-content !important;
    background-color: #8A8F00 !important;
    border: 2px solid #B7BD00 !important;
    pointer-events: none;

    i.ti {
        font-size: 1.5rem;
    }
}

.btn-status.info {
    display: flex;
    align-items: center;
    width: fit-content !important;
    background-color: #0035A6 !important;
    border: 2px solid #3776FF !important;
    pointer-events: none;

    i.ti {
        font-size: 1.5rem;
    }
}

.btn-status.danger {
    display: flex;
    align-items: center;
    width: fit-content !important;
    background-color: #A31D1F !important;
    border: 2px solid #FF3F42 !important;
    pointer-events: none;

    i.ti {
        font-size: 1.5rem;
    }
}

.btn-swal-confirm {
    font-weight: 700 !important;
    text-transform: uppercase;
    background-color: var(--system-colors-purple-tetiary) !important;
    border: 1.5px solid var(--system-colors-purple-secondary) !important;
}

.btn-swal-cancel {
    font-weight: 700 !important;
    text-transform: uppercase;
    background-color: transparent !important;
}

/* btn aside status */
.low {
    background-color: transparent !important;
    color: #848484;
}

.normal {
    background-color: #0086A6 !important;
}

.high {
    background-color: #A21C1E;
}

/* btn filter status */

.icon-filter-group {
    [data-chart="depth"] {
        border-color: rgba(0, 166, 113, .75);
        background-color: rgba(0, 166, 113, .75);
    }

    [data-chart="bv-depth"] {
        border-color: #A6A100;
        background-color: #A6A100;
    }

    [data-chart="bit-depth"] {
        border-color: #0061A6;
        background-color: #0061A6;
    }

    [data-chart="block-pos"] {
        border-color: rgba(195, 112, 155, 0.8);
        background-color: rgba(195, 112, 155, 0.8);
    }

    [data-chart="stppress"] {
        border-color: rgba(166, 0, 136, .75);
        background-color: rgba(166, 0, 136, .75);
    }

    [data-chart="torque"] {
        border-color: rgba(166, 0, 86, .75);
        background-color: rgba(166, 0, 86, .75);
    }

    [data-chart="wob"] {
        border-color: rgba(105, 0, 166, .75);
        background-color: rgba(105, 0, 166, .75);
    }

    [data-chart="ropi"] {
        border-color: rgba(0, 97, 166, .75);
        background-color: rgba(0, 97, 166, .75);
    }

    [data-chart="rpm"] {
        border-color: rgba(0, 97, 166, .75);
        background-color: rgba(0, 97, 166, .75);
    }

    [data-chart="hkld"] {
        border-color: rgba(0, 166, 158, .75);
        background-color: rgba(0, 166, 158, .75);
    }

    [data-chart="mudflowin"] {
        border-color: rgba(166, 0, 136, .75);
        background-color: rgba(166, 0, 136, .75);
    }

    [data-chart="mudflowout"] {
        border-color: rgba(166, 0, 136, .75);
        background-color: rgba(166, 0, 136, .75);
    }

    [data-chart="bvdepth"] {
        border-color: rgba(0, 166, 158, .75);
        background-color: rgba(0, 166, 158, .75);
    }

    [data-chart="bitdepth"] {
        border-color: rgba(166, 161, 0, .75);
        background-color: rgba(166, 161, 0, .75);
    }

    [data-chart="scfm"] {
        border-color: rgba(0, 97, 166, .75);
        background-color: rgba(0, 97, 166, .75);
    }

    .disabled {
        background-color: #252525 !important;
        border-color: #252525 !important;
        color: #696969 !important;
    }
}

@media (hover: hover) {
    .btn-status:hover {
        border: 2px solid var(--system-colors-purple-tetiary) !important;
        background-color: var(--system-colors-purple-primary) !important;
    }

    .icon-filter-group {
        [data-chart="depth"]:hover,
        [data-chart="bvdepth"]:hover,
        [data-chart="bitdepth"]:hover,
        [data-chart="block-pos"]:hover,
        [data-chart="stppress"]:hover,
        [data-chart="torque"]:hover,
        [data-chart="wob"]:hover,
        [data-chart="ropi"]:hover,
        [data-chart="rpm"]:hover,
        [data-chart="hkld"]:hover,
        [data-chart="hkld"]:hover,
        [data-chart="mudflowin"]:hover,
        [data-chart="mudflowout"]:hover {
            background-color: #252525 !important;
            border-color: #252525 !important;
            color: white !important;
        }
    }
}